{
	"presets": [
		"react",
		[
			"env",
			{
				"modules": false
			}
		],
		"stage-2"
	],
	"plugins": [
		"transform-class-properties"
	],
	"env": {
		"test": {
			"presets": [
				"env",
				"react",
				"stage-2"
			]
		}
	}
}
